In [1]:
import pandas as pd
import colorlover as cl

import plotly.plotly as plt
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
init_notebook_mode(connected=True)

In [6]:
data = pd.read_csv('./GENDER_EQUALITY_01-17-2017 15-09-24-32_timeSeries.csv')
country_code_data = pd.read_csv('./country_codes.csv')
data = country_code_data.merge(data, left_on='English short name lower case', right_on="Country Name")

In [22]:
data.loc[:, '1990':'2013'].loc[0]

1990    0.911247
1991    0.915040
1992    0.925783
1993    0.930572
1994    0.927080
1995    0.923952
1996    0.926665
1997    0.928497
1998    0.930216
1999    0.932867
2000    0.935301
2001    0.940669
2002    0.943444
2003    0.945734
2004    0.948426
2005    0.950332
2006    0.952000
2007    0.952343
2008    0.953231
2009    0.954120
2010    0.954019
2011    0.950583
2012    0.950478
2013    0.950516
Name: 0, dtype: float64

In [17]:
data['Country Name']

0                   Albania
1                   Albania
2                   Algeria
3                   Algeria
4                 Argentina
5                 Argentina
6                 Australia
7                 Australia
8                   Austria
9                   Austria
10               Bangladesh
11               Bangladesh
12                 Barbados
13                 Barbados
14                  Belarus
15                  Belgium
16                  Belgium
17                   Belize
18                   Belize
19                    Benin
20                    Benin
21                   Bhutan
22                 Botswana
23                 Botswana
24                   Brazil
25        Brunei Darussalam
26                 Bulgaria
27                 Bulgaria
28             Burkina Faso
29                  Burundi
               ...
223              Tajikistan
224              Tajikistan
225                Thailand
226                Thailand
227                    Togo
228                    Togo
229                   Tonga
230                   Tonga
231     Trinidad and Tobago
232     Trinidad and Tobago
233                 Tunisia
234                 Tunisia
235                  Turkey
236                  Turkey
237                  Uganda
238                  Uganda
239                 Ukraine
240                 Ukraine
241    United Arab Emirates
242    United Arab Emirates
243          United Kingdom
244          United Kingdom
245           United States
246           United States
247                 Uruguay
248                 Uruguay
249                  Zambia
250                  Zambia
251                Zimbabwe
252                Zimbabwe
Name: Country Name, dtype: object